<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue.js + Firebase Authentication</title>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script
			src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"
			defer
		></script>

		<!-- Add SDKs for Firebase products that are to be used -->
		<script
			src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"
			defer
		></script>
		<script
			src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"
			defer
		></script>

		<!-- Development version of Vue.js, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>

		<!-- Local JavaScript file -->
		<script src="app.js" defer></script>
	</head>

	<body>
		<div class="container" id="app">
			<h1>Vue.js + Firebase Authentication</h1>

			<div v-if="authUser">
				<h3 class="my-4">
					You are signed in as {{ authUser.email }}
					<img
						v-if="linkedToGoogle"
						src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
						alt="google-link"
					/>
					<img
						v-if="linkedToPassword"
						src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_email.svg"
						alt="email-link"
					/>
				</h3>
				<img :src="authUser.photoURL" class="img-thumbnail" alt="user-image" />
				<p>
					Hello, {{ authUser.displayName || 'friend' }}? We know you like {{
					authUser.favoriteFood || 'food' }}.
				</p>
				<button type="button" class="btn btn-primary" @click="signOut">Sign Out</button>
				<button
					v-if="!linkedToGoogle"
					type="button"
					class="btn btn-warning"
					@click="linkWithGoogle"
				>
					Link Google Account
				</button>
				<button v-else type="button" class="btn btn-warning" @click="unlinkFromGoogle">
					Unlink Google Account
				</button>

				<form @submit.prevent="updateProfile">
					<h4 class="my-4">Update Profile</h4>
					<div class="form-group">
						<label for="userDisplayName">Display Name</label>
						<input
							type="text"
							class="form-control"
							id="userDisplayName"
							v-model="displayName"
							placeholder="Your name"
						/>
					</div>
					<div class="form-group">
						<label for="userPhotoURL">Photo URL</label>
						<input
							type="text"
							class="form-control"
							id="userPhotoURL"
							v-model="photoURL"
							placeholder="Your phot url"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>

				<form @submit.prevent="updateCustomDetails">
					<h4 class="my-4">Update Additional Details</h4>
					<div class="form-group">
						<label for="favoriteFood">Your Favorite Food</label>
						<input
							type="text"
							class="form-control"
							id="favoriteFood"
							v-model="favoriteFood"
							placeholder="Your favorite food"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>

				<form @submit.prevent="updateEmail">
					<h4 class="my-4">Update Email</h4>
					<div class="form-group">
						<label for="userEmailAddress">Email Address</label>
						<input
							type="text"
							class="form-control"
							id="userEmailAddress"
							v-model="email"
							placeholder="Your email address"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>

				<form @submit.prevent="updatePassword">
					<h4 class="my-4">Change Password</h4>
					<div class="form-group">
						<label for="userPassword">Password</label>
						<input
							type="password"
							class="form-control"
							id="userPassword"
							v-model="newPassword"
							placeholder="Your new password"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Change Password</button>
				</form>
			</div>

			<div v-else>
				<form @submit.prevent="register">
					<h3 class="my-4">Register</h3>
					<div class="form-group">
						<label for="registerEmail">Email</label>
						<input
							type="email"
							class="form-control"
							id="registerEmail"
							v-model="email"
							placeholder="Type your email"
						/>
					</div>
					<div class="form-group">
						<label for="registerPassword">Password</label>
						<input
							type="password"
							class="form-control"
							id="registerPassword"
							v-model="password"
							placeholder="Type your password"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>

				<form @submit.prevent="signIn">
					<h3 class="my-4">Sign In</h3>
					<div class="form-group">
						<label for="signinEmail">Email</label>
						<input
							type="email"
							class="form-control"
							id="signinEmail"
							v-model="email"
							placeholder="Type your email"
						/>
					</div>
					<div class="form-group">
						<label for="signinPassword">Password</label>
						<input
							type="password"
							class="form-control"
							id="signinPassword"
							v-model="password"
							placeholder="Type your password"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Sign In</button>
				</form>

				<h3 class="my-4">Sign In with Google</h3>
				<button type="button" class="btn btn-primary" @click="signInWithGoogle">
					Sign In with Google
				</button>
			</div>
		</div>
	</body>
</html>
